.register-page {
	position: relative;
	margin-top: 0;
	position: relative;
}

.office-img {
	min-width: 30rem;
	height: auto;

}

@media  (max-width: 800px) {
	.register-content {
		flex-direction: column;
	}

	.office-img {
		min-width: 10rem;
		height: auto;
	}


}