.terms {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 9rem;
}

.terms .total-text {
  /* margin: 0; */
  margin-bottom: 3rem;
}

.terms .total-text .header {
  width: 20rem;
  margin: 3rem 0;

}

.main-text {
  border-radius: 5px;
  border: 1px solid #d434fe;
  background: rgba(217, 217, 217, 0.03);
  padding: 2rem;
  max-width: 35rem;
}

.main-text p,
.main-text h1,
.main-text .list {
  background: transparent;
}

.security-img {
	position: relative;
}

.padlock-man {
	position: absolute;
	background-color: transparent;
}

.check-icon {
  background: none;
  padding-right: 5px;
  float: left;
  width: .7rem;
}


@media (max-width: 830px) {
  .terms {
    text-align: center;
    flex-direction: column;
  }

  .terms h1:nth-child(1) {
    font-size: 2rem;
  }

  .main-text {
    margin: auto .7rem;
    max-width: auto;
    font-size: .7rem;
  }

  .header {
    text-align: center;
  }

  .total-text h1 {
    line-height: normal;
  }

  .main-text h1, .list {
    text-align: left;
  }


  .padlock-man, .padlock-svg {
    max-width: 20rem;
  }
}