.footer-wrapper .text,
.remark,
.contact,
.links-wrapper {
  background: #100b20;
}
.footer {
  background-color: #100b20;
  margin-top: 10rem;
  padding: 1.75rem 5rem;
  justify-content: space-between;
}

@media (max-width: 830px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    padding: 1.75rem 2rem;
  }
  .terms-of-use {
    margin-bottom: 2rem;
  }

  .links-wrapper .links {
    margin-bottom: 2rem;
  }
}
